.exchange_box{
    .card{
      border: 0;
      .card-header{
        background-color: #878d99;
        border-radius: 0;
        color: white;
        font-weight: 700;
      }
      .card-block{
        padding-top: 10px;
        .title{
          color: #878d99;
          font-weight: 700;
        }
        .destination_currency{
          .form-group{
            .btn-swap{
              float: right;
              margin-top: -50px;
              outline: none;
              position: relative;
              .btn-change{
                border-radius: 0;
              }
            }
          }
        }
      }
    }
  }
